//Fonts
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');


//Variables
$s1-background: #ffffff;
$s2-background: #2bb3b1;
$s3-background: #4abebd;
$main-text: hsl(0, 0%, 100%);
$title: hsl(179, 41%, 54%);
$accent: hsl(71, 73%, 54%);
$subtext: hsl(222, 8%, 75%);

//Styles
@media (max-width: 640px) {
    body {
        background-color: #e5eef3;
    }

    .card {
        box-shadow: 0 5px 35px rgba(0, 0, 0, 0.3);
        border-radius: .5rem;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        max-width: 400px;
        min-width: 300px;
        max-height: 900px;
        margin: auto;
        font-family: 'Karla';
    }

    .s1 {
        background-color: $s1-background;
        border-radius: .5rem .5rem 0 0;    
        grid-row: 1 / 1;
        height: 300px;
        width: 100%;
        padding: 2rem;
        box-sizing: border-box;
    }

    .s1__title {
        width: 100%;
        padding-bottom: 2rem;
        margin: 0;
        color: $title;
    }
    
    .s1__subtitle {
        width: 100%;
        padding-bottom: 1rem;
        margin: 0;
        color: $accent;
    }
    
    .s1__info {
        width: 100%;
        line-height: 2rem;
        margin: 0;
        color: $subtext;       
    }

    .s2 {
        background-color: $s2-background;
        grid-row: 2 / 2;
        box-sizing: border-box;
        padding: 2rem;
    }

    .s2__title {
        color: $main-text;
        margin: 0;
        padding-bottom: 2rem;
    }

    .s2__price {
        display: flex;
        align-items: center;
        gap: 1rem;
        margin: 0;
    }
    
    .s2__amount {
        font-size: 35px;
        color: $main-text;
    }
    
    .s2__renewal {
        font-size: 17px;
        color: $main-text;
        opacity: .5;
        margin: 0;
    }

    .s2__info {
        color: $main-text;
    }

    .s2__signup {
        text-decoration: none;
        // padding: 1rem 4rem;
        width: 100%;
        color: $main-text;
        background-color: $accent;
        box-shadow: 0 5px 35px rgba(0, 0, 0, 0.3);
        border-radius: .5rem;
        margin: auto;
        align-self: center;
    }

    .s3 {
        background-color: $s3-background;
        border-radius: 0 0 .5rem .5rem;
        grid-row: 3 / 3;
        padding: 2rem;
    }

    .s3__details {
        margin: 0;
    }

    .s3__title {
        color: $main-text;
        padding-bottom: 1rem;
        font-size: 1.5rem;
    }

    .s3__info {
        color: $main-text;
        line-height: .5rem;
        opacity: .5;
        font-size: 1rem;
    }
}

@media (min-width: 640px) {
    body {
        background-color: #e5eef3;
        padding: 4rem
    }

    .card {
        border-radius: .5rem;
        display: grid;
        grid-template-rows: 45% 55%;
        grid-template-columns: 1fr 1fr;
        max-width: 660px;
        height: 500px;
        margin: auto;
        box-shadow: 0 5px 35px rgba(0, 0, 0, 0.3);
        font-family: 'Karla';
    }

    .s1 {
        background-color: $s1-background;
        border-radius: .5rem .5rem 0 0;    
        grid-row-start: 1;
        grid-column: 1 / -1;
        padding: 2.5rem;
    }
    
    .s1__title {
        width: 100%;
        padding-bottom: 2rem;
        margin: 0;
        color: $title;
    }
    
    .s1__subtitle {
        width: 100%;
        padding-bottom: 1rem;
        margin: 0;
        color: $accent;
    }
    
    .s1__info {
        width: 100%;
        line-height: 2rem;
        margin: 0;
        color: $subtext;       
    }
    
    .s2 {
        padding: 2.5rem;
        background-color: $s2-background;
        border-radius: 0 0 0 .5rem;
        grid-row-start: 2;
        grid-column: 1 / 1;
    }
    
    .s2__title {
        color: $main-text;
        margin: 0;
        padding-bottom: 1.5rem;
    }
    
    .s2__price {
        display: flex;
        align-items: center;
        gap: 1rem;
        margin: 0;
    }
    
    .s2__amount {
        font-size: 35px;
        color: $main-text;
    }
    
    .s2__renewal {
        font-size: 17px;
        color: $main-text;
        opacity: .5;
        margin: 0;
    }
    
    .s2__info {
        color: $main-text;
        opacity: .75;
    }
    
    .s2__signup {
        text-decoration: none;
        // padding: 1rem 4rem;
        width: 100%;
        color: $main-text;
        background-color: $accent;
        box-shadow: 0 5px 35px rgba(0, 0, 0, 0.3);
        border-radius: .3rem;
        margin: auto;
        align-self: center;
        padding: .8rem 6rem;
    }
    
    .s3 {
        background-color: $s3-background;
        border-radius: 0 0 .5rem 0;
        grid-row-start: 2;
        padding: 2.5rem;
        grid-column: 2 / 2;
    }
    
    .s3__details {
        margin: 0;
    }

    .s3__title {
        color: $main-text;
        padding-bottom: 1rem;
        font-size: 1.5rem;
    }

    .s3__info {
        color: $main-text;
        line-height: .5rem;
        opacity: .5;
        font-size: .8rem;
    }
}



