//Fonts
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@200;300;400;600&display=swap');


//Variables
$accent: #a775f0;
$dark-text: #444b55;
$light-text: #faffff;


//Styles
body {
    align-content: center;
    background-color: #edf2f8;
    padding: 4rem 1rem;
}

.container {
    font-family: 'Barlow Semi Condensed', sans-serif;
    margin: auto;
}

.card {
    border-radius: .5rem;
    color: $light-text;
    height: fit-content;
    padding: 2.5rem;
}

.dark-text {
    color: $dark-text;
}

.s1 {
    background-color: #733fc9;
}
.s2 {
    background-color: #49556b;
}
.s4 {
    background-color: #18202d;
}

.s3, .s5 {
    background-color: #ffffff;
}

.header {
    align-items: center;
    display: flex;
    gap: 1.5rem;
}

.profile {
    border-color: hotpink;
    border-radius: 50%;
    border-width: 8px;
    width: 40px;
}

.title {
    margin: 0;
    text-align: left;
}

.name {
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: .2rem;
}

.status {
    font-size: 1rem;
    font-weight: 300;
    margin-left: 0;
    opacity: .5;
}

.quote-1 {
    font-size: 1.7rem;
    font-weight: 600;
    margin: 1rem 0;
}

.quote-2 {
    font-weight: 400;
    line-height: 1.5rem;
    opacity: .5;
}

@media (max-width: 640px) {
    .container {
        align-items: center;
        display: flex;
        flex-direction: column;
        gap: 2rem 0;
        max-width: 500px;
    }

    .card {
        min-width: 300px;
    }
}

@media (min-width: 640px) {
    .container {
        display: grid;
        gap: 2rem;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        height: 500px;
        
    }

    .card {
        height: fit-content;
    }

    .s1 {
        grid-column: 1 / span 2;
        grid-row: 1;
    }

    .s2 {
        grid-column: 3 / span 1;
        grid-row: 1;
    }
    
    .s3 {
        grid-column: 1 / span 1;
        grid-row: 2;
    }

    .s4 {
        grid-column: 2 / span 2;
        grid-row: 2;
    }

    .s5 {
        grid-column: 4 / span 1;
        grid-row: 1 / span 2;
    }
}