/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');


/* Variables */
:root {
    --primary-color: #ec755d;
    --primary-active: #ff9b87;
    --secondary-color: #76b5bc;
    --secondary-active: #b4dfe5;
    --primary-background: #f7e9dc;
    --secondary-background: #fffcf7;
    --text-accent: #372715;
    --text-white: #fffdf7;
    --text-gray: #b9b2ac;
}


/* Styles */
body {
    background-color: var(--primary-background);
    font-family: 'DM Sans';
}

h1 {
    border-left: 1rem solid var(--primary-color);
    padding-left: 1rem;
    margin-left: 2rem;
}

.component {
    display: grid;
    grid-template-rows: 1fr 4fr;
    height: 33rem;    
    margin: 8rem auto 8rem;
    row-gap: 1rem;
    width: min(90%, 500px);
}

.balance {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    color: var(--text-white);
}

.balance__amount dt {
    font-size: .8rem;
}

.balance__amount dd {
    margin-left: 0;
    margin-top: .5rem;
    font-size: 1.5rem;
    font-weight: 500;
}

.balance img {
    position: relative;
    height: 40%;
}

.balance, .info {
    border-radius: 1rem;
}

.balance {
    background-color: var(--primary-color);
    grid-row-end: 2;
}

.info {
    background-color: var(--secondary-background);
    grid-row-start: 2;
    padding: 1.2rem;
}

.info__summary {
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--text-accent);
}

.info__graph {
    position: relative;
    height: 50%;
    border: 2px solid hotpink;
}

.info__graph-bars {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
}

.info__graph-bars dd {
    margin-left: 0;
}

.info__graph-bars-info {
    /* display: var(--display); */
    display: block;
    background-color: var(--text-accent);
    border-radius: .2rem;
    padding: .3rem;
    color: var(--text-white);
    font-weight: 700;
}

.info__graph-bars .info__graph-bars-day {
    text-align: center;
    position: absolute;
    bottom: 0;
}

/* 
@NOTE: Had to add this for some reason 
*/
.info__graph-bars dd::before {
    content: "";
    display: block;
    width: 2rem;
}

.info__graph-bars .info__graph-bars-day:hover::before {
    opacity: 50%;
    cursor: pointer;
}

.info__graph-bars #monday::before {
    content: "";
    display: block;
    background-color: var(--color);
    width: 2rem;
    height: var(--height);
    border-radius: .2rem;
    margin-bottom: .3rem;
}

.info__graph-bars #tuesday::before {
    content: "";
    display: block;
    background-color: var(--color);
    width: 2rem;
    height: var(--height);
    border-radius: .2rem;
    margin-bottom: .3rem;
}

.info__graph-bars #wednesday::before {
    content: "";
    display: block;
    background-color: var(--color);
    width: 2rem;
    height: var(--height);
    border-radius: .2rem;
    margin-bottom: .3rem;
}

.info__graph-bars #thursday::before {
    content: "";
    display: block;
    background-color: var(--color);
    width: 2rem;
    height: var(--height);
    border-radius: .2rem;
    margin-bottom: .3rem;
}

.info__graph-bars #friday::before {
    content: "";
    display: block;
    background-color: var(--color);
    width: 2rem;
    height: var(--height);
    border-radius: .2rem;
    margin-bottom: .3rem;
}

.info__graph-bars #saturday::before {
    content: "";
    display: block;
    background-color: var(--color);
    width: 2rem;
    height: var(--height);
    border-radius: .2rem;
    margin-bottom: .3rem;
}

.info__graph-bars #sunday::before {
    content: "";
    display: block;
    background-color: var(--color);
    width: 2rem;
    height: var(--height);
    border-radius: .2rem;
    margin-bottom: .3rem;
}

.info__graph-bars span {
    font-size: .8rem;
}

.info__calc {
    display: flex;
    justify-content: space-between;
}

.info__calc dt {
    font-size: .8rem;
    opacity: 50%;
}

.info__calc dd {
    margin-left: 0;
    color: var(--text-accent);
}

.info__calc--amount dd {
    font-size: 2.5rem;
    font-weight: 500;
}

.info__calc--percentage {
    text-align: end;
}

.info__calc--percentage dd {
    font-weight: 700;
    font-size: .9rem;
}

button {
    font-size: 1.5em;
    display: block;
    margin: -5rem auto 0;
    padding: .5rem;
    border-radius: .5rem;
    border: none;
    background-color: var(--text-gray);
    color: var(--text-white);
    cursor: pointer;
}

button:active {
    transform: scale(.9);
    transition: 0.5s;
}

/* 
The following button animation was copied from W3 Schools 

(https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_buttons_animate1) 
*/

button i {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

button i:after {
  content: 'Home';
  font-family: "DM Sans";
  position: absolute;
  opacity: 0;
  top: 0;
  transition: .5s;
}

button:hover i {
  padding-right: 4.5rem;
}

button:hover i:after {
  opacity: 1;
  right: 0;
  top: 0;
}

/* Mobile */
@media (max-width: 640px) {
}

/* Desktop */
@media (min-width: 640px) {
}