//Fonts
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;800&display=swap');


//Variables
$main-text: #cfe3ea;
$accent: #53ffab;

//Styles
body {
    background-color: #202632;
}

main {
    font-family: 'Manrope';
    position: relative;
    height: 100vh;
}

.component {
    align-items: center;
    background-color: #313a49;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    height: 400px;
    justify-content: center;
    max-width: 500px;
    padding: 0 2rem;
    margin: auto;
    margin-top: 13rem;
}

.advice {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.advice__number {
    color: $accent;
    font-size: 12px;
    letter-spacing: 2px;
    position: absolute;
    top: 10%;
}

.advice__quote {
    text-align: center;
    color: $main-text;
    font-size: 28px;
    margin: 0;
}

.advice__divider {
    position: relative;
}

.accent {
    align-items: center;
    background-color: $accent;
    border-radius: 50%;
    display: flex;
    height: 70px;
    justify-content: center;
    margin: 0 auto;
    margin-top: -35px;
    width: 70px;
}

.accent__dice {
    transition: all .2s ease-in-out;
}

.accent__dice:active {
    opacity: 80%;
    transform: scale(.8);
    transition: .4s;
    //codepen (https://codepen.io/teerapuch/pen/vLJXeR)
    animation-name: spin;
    animation-duration: 200ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.accent__alert {
    display: block;
    padding: 1rem 2rem;
    background-color: #53ffac;
    border-radius: .5rem;
    margin-top: 2rem;
    color: #202632;
    font-weight: 800;
}

// .code__summary {

// }

.code__snippet {
    display: block;
    margin: auto;
    max-width: 80%;
    padding-top: 2rem;
}

//codepen (https://codepen.io/teerapuch/pen/vLJXeR)
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

@media (max-width: 640px) {
    .component {
        margin: 0 1rem;
        margin-top: 8rem;
        min-width: 280px;
    }

    .code__snippet {
        max-width: 90%;
    }
}

@media (min-width: 640px) {
    .component {
        min-width: 500px;
    }

    .accent__dice:hover {
        transform: scale(1.2);
    }
}