//Fonts
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;800&display=swap');


//Variables
$main-text: #cfe3ea;
$accent: #53ffab;
$background: #313a49;

//Styles
body {
    background-color: #202632;
}

main {
    font-family: 'Manrope';
    height: 100vh;
}

.component {
    align-items: center;
    background-color: $background;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    height: 400px;
    justify-content: center;
    margin: 13rem auto 0;
    max-width: 500px;
    padding: 0 2rem;
    position: relative;
    vertical-align: auto;
}

.advice {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.advice__number {
    color: $accent;
    font-size: 12px;
    letter-spacing: 2px;
    position: absolute;
    top: 13%;
}

.advice__quote {
    text-align: center;
    color: $main-text;
    font-size: 28px;
    margin: 0;
}

.advice__divider {
    bottom: 15%;
    position: absolute;
}

.accent {
    align-items: center;
    background-color: $accent;
    border-radius: 50%;
    bottom: -9%;
    display: flex;
    height: 70px;
    justify-content: center;
    margin: auto;
    position: absolute;
    width: 70px;
}

.accent__dice {
    transition: all .2s ease-in-out;
}

.accent__dice:active {
    opacity: 80%;
    transform: scale(.8);
    transition: .4s;
    //codepen (https://codepen.io/teerapuch/pen/vLJXeR)
    animation-name: spin;
    animation-duration: 200ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.accent__alert {
    background-color: #53ffac;
    border-radius: .5rem;
    color: #202632;
    display: block;
    font-weight: 800;
    margin-top: 2rem;
    padding: 1rem 2rem;
}

.code__summary {
    background-color: $background;
    border-radius: 1rem;
    color: $main-text;
    line-height: 2.5rem;
    padding: 2rem 4rem;
}

.code__snippet {
    border-radius: .5rem;
    display: block;
    margin: 2rem auto;
    max-width: 70%;
}

//codepen (https://codepen.io/teerapuch/pen/vLJXeR)
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

//Mobile
@media (max-width: 640px) {
    .component {
        margin: 13rem 1rem 0;
    }

    .code__snippet {
        max-width: 90%;
    }
}

// Desktop
@media (min-width: 640px) {
    .component {
        min-width: 500px;
    }

    .accent__dice:hover {
        transform: scale(1.2);
    }
}